# .gitignore

# --- Secrets ---
.env
venv/
venv_/
# --- Python Cache ---
__pycache__
*.pyc

# --- rough sheet ---
rough_sheet.py

.vscode
Readme.md

# --- Service Account Key ---
serviceAccountKey.json

# Ignore Postman configs and collections
.postman/
postman/